<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Join Us</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/public/css/style.css" />
	</head>

	<body>
		<div class="flex-container">
			<div class="container">
				<h1>JOIN US</h1>
				<p class="lead">
					Enter your email to join
					<strong><%= count %></strong> others on our waitlist. We are
					100% not a cult.
				</p>
				<form method="POST" action="/register">
					<input
						type="text"
						class="form"
						name="email"
						placeholder="Enter Your Email"
					/>
					<button>Join Now</button>
				</form>
			</div>
		</div>
	</body>
</html>
